/* Home */
.home {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5) 100%,
        rgba(255, 255, 255, 0.5) 100%), 
        url("../files/images/background-1.png");
    background-size: cover;
    padding-bottom: 10rem;
}
.home .navbar {
    justify-content: space-between;
}
.home .navbar .logo {
    height: 6rem;
    padding: 2rem;
    width: 15rem;
}
.home .navbar .icons {
    align-items: center;
    border-radius: 0 0 0 2rem;
    padding: 1.5rem 1.1rem;
}
.home .navbar .icons img {
    padding: 0.5rem 0;
    width: 2rem;
}
.home .text h1 {
    line-height: 3.4rem;
    margin: 3rem 38.95% 1rem 5rem;
}
.home .text h4 {
    margin: 0 55% 3.5rem 5rem;
}
.home .text a {
    border-radius: 5rem;
    margin-left: 5rem;
    padding: 0.6rem 2.5rem;
}
.home .text a:hover {
    background: #CE6109;
}

/* About us */
.about-us {
    background: url("../files/images/background-2.png");
    background-size: cover;
    padding: 10rem 5rem 10rem 0;
}
.about-us img {
    border-radius: 0 3rem 3rem 0;
    box-shadow: 0px 5px 5px #686868;
    height: 38rem;
    margin-right: 9rem;
    width: 45%;
}
.about-us .text {
    justify-content: center;
}
.about-us .text p {
    line-height: 2.6rem;
    margin-bottom: 4rem;
}
.about-us .text a {
    border-radius: 0 5rem 5rem 0;
    padding: 0.6rem 2.5rem;
    width: 9.5rem;
}
.about-us .text a:hover {
    background: #CE6109;
}

/* Services */
.services {
    background: #FFEEE0;
    padding: 5rem 7rem;
    text-align: center;
}
[class^="number-slide"],
[class*=" number-slide"] {
    background: #FFFFFF;
    border-radius: 2rem; 
    box-shadow: 0px 5px 5px #686868;
    margin: 0.5rem 0 1rem 0;
    text-align: left;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
.slide-button {
    background: none;
    border: none;
    color: #696969;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 600;
}
.slide-button:hover {
    color: #CE6109;
}
.services h4 {
    font-weight: 500;
    margin: 2rem 0 0 0;
}
.services .text {
    color: #CE6109;
    font-weight: 500;
    margin: 0.2rem 0 0 0;
}
.services h6 a {
    color: #0C2384;
    font-size: 1.2rem;
    font-style: italic;
}
.services h6 a:hover {
    color: #020F49;
}

/* Opinions */
.opinions {
    background: url("../files/images/background-3.png");
    background-size: cover;
}
.opinions .title {
    background: #0C2384;
    border-radius: 0 4rem 4rem 0;
    margin: 6rem 0 4rem 0;
    width: 30%;
}
.opinions .title h2 {
    color: #FFFFFF;
    padding-left: 5rem;
    text-shadow: 2px 0px 1px #CE6109;
}
.opinions h4 {
    font-weight: 500;
    line-height: 2.3rem;
    margin: 0 12% 4rem 12%;
    text-align: center;
}
.opinions .cards {
    display: grid;
    gap: 4rem;
    grid-row: auto auto;
    grid-template-columns: 35% 35%;
}

@media (max-width: 1355px) {

    /* Home */
    .home .text h1 {
        margin-right: 30%;
    }
    .home .text h4 {
        margin-right: 40%;
    }

    /* About-us */
    .about-us {
        padding: 8rem 5rem 8rem 0;
    }
    .about-us img {
        margin-right: 6rem;
        width: 50%;
    }

}
@media (max-width: 1185px) {

    /* Home */
    .home .navbar .logo {
        height: 4rem;
        width: 10rem;
    }
    .home .navbar .icons {
        padding: 1rem;
    }
    .home .navbar .icons img {
        padding: 0.2rem 0;
        width: 1.5rem;
    }
    .home .text h1 {
        font-size: 2.2rem;
        line-height: 2.4rem;
        margin: 5rem 2.4rem 1rem 2.4rem;
    }   
    .home .text h4 {
        margin: 0 2.4rem 3.5rem 2.4rem;
    }
    .home .text a {
        border-radius: 0 5rem 5rem 0;
        font-size: 1.3rem;
        margin-left: 2.4rem;
        padding: 0.6rem 2rem;
    }

    /* About-us */
    .about-us {
        flex-direction: column;
        padding: 5rem 2.4rem 5rem 0;
    }
    .about-us img {
        height: auto;
        margin: 0 0 3rem 0;
        width: 100%;
    }
    .about-us .text {
        padding-left: 2.4rem;
    }
    .about-us .text p {
        margin-bottom: 2.5rem;
    }
    .about-us .text a {
        font-size: 1.3rem;
        padding: 0.6rem 2rem;
        width: 7.5rem;
    }

    /* Services */
    .services {
        padding: 3rem 2.4rem;
    }
    .services h2 {
        margin-bottom: 2rem;
    }
    .services h4 {
        font-size: 1.2rem;
        line-height: 1.4rem !important;
        margin-bottom: 1rem;
    }

}
@media (max-width: 645px) {

    /* Home */
    .home {
        padding-bottom: 5rem;
    }
    .home .text h1 {
        margin-top: 2.4rem;
    }

}