.footer .blue-bg {
    align-items: center;
    padding: 2rem 0 2rem 4rem;
    width: 100%;
}
.footer .logo,
.footer .logo img {
    height: 5.5rem;
}
.footer .logo {
    border-radius: 6rem;
    padding: 0.5rem 1.5rem;
}
.footer .logo:hover {
    background: #D1D1D1;
}
.footer .location {
    margin: 0 3rem 0 18%;
}
.footer .location h4 {
    margin: 0 0 1.2rem 0;
}
.footer .location .fw-300 {
    font-style: italic;
    margin-top: 0.6rem;
}
.footer .links {
    margin-right: 1.5rem;
    width: 20rem;
}
.footer .links h5 {
    font-style: italic;
    margin: 0.8rem 0 0.8rem 0;
}
.footer .links h5:hover {
    color: #F0C486;
}
.footer .icons {
    margin-left: auto;
    padding: 1.5rem;
    justify-content: center;
}
.footer .icons img {
    height: 2.5rem;
    padding: 0.6rem 0;
}
.rights {
    text-align: center;
    width: 100%;
}
.rights h6 {
    margin: 1.2rem 1.8rem;
}

@media (max-width: 1400px) {

    .footer .location {
        margin: 0 3rem 0 6%;
    }

}
@media (max-width: 1240px) {

    .footer, .footer .blue-bg {
        flex-direction: column;
    }
    .footer .blue-bg {
        padding: 3rem 2.4rem 0 2.4rem;
        text-align: center;
        width: auto;
    }
    .footer .logo,
    .footer .logo img {
        height: 3.5rem;
        margin-bottom: 3rem;
    }
    .footer .location,
    .footer .links {
        margin: 0 0 2rem 0;
    }
    .footer .icons {
        flex-direction: row;
        margin: 0;
        padding: 1rem;
    }
    .footer .icons a {
        height: 2.5rem;
    }
    .footer .icons img {
        padding: 0 1.5rem;
    }

}