.keen-slider__slide img {
    border-radius: 1rem;
    height: 15rem;
    margin: 1.5rem 1.5rem 1.4rem 1.5rem;
} 
.keen-slider__slide h5,
.keen-slider__slide h6 {
    margin: 0 1.5rem 0.5rem 1.5rem;
}
.keen-slider__slide h6 {
    font-weight: 500;
    margin-bottom: 1.5rem;
}

@media (max-width: 1355px) {

    .keen-slider__slide img {
        height: 12rem;
    } 

}
@media (max-width: 1185px) {

    .keen-slider__slide img {
        height: 15rem;
        margin: 1rem;
    } 
    .keen-slider__slide h5,
    .keen-slider__slide h6 {
        margin: 0 1rem 0.5rem 1rem;
    }
    .keen-slider__slide h6 {
        margin-bottom: 1rem;
    }

}